@page
@model WebApplicationMBegyn.Pages.Teachers.CRUDModel
@{
    ViewData["Title"] = "CRUD";
}

<h1>Teachers list</h1>
<div>Add a new teacher, edit or delete a teacher.</div>
<br />



<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].NbOfClasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].NbOfTeachingExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teacher)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NbOfClasses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbOfTeachingExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TeacherID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.TeacherID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TeacherID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
